* {
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* max-width: 600px; */
  padding: 5%;
}
